#font-style {
  font-family: "Courgette", cursive;
}

#beginBtn {
  font-size: 50px;
}

.image {
  max-width: 600px;
  margin: 0 auto;
}

.text-center {
  font-size: 1.5em;
}

.card-divider {
  font-size: 2em;
  font-weight: bold;
  background-color: #a53b2a;
  margin-bottom: 0.5em;
}

li {
  list-style-type: none;
}

.choice {
  width: 10em;
}

#quiz {
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
}

#results-house {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  background-color: grey;
  margin-bottom: 0.5em;
}

#resultscontainer {
  text-align: center;
}

#question {
  font-family: "Courgette", cursive;
  font-size: 2em;
}
